* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    box-shadow: 10px 7px 13px rgba(0, 0, 0, 0.1);
}

.appHeader {
    background-color: #8bc34a;
    color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}